.main-btn {
  .set-font(20px, 300, 24px, #fff);

  width: 265px;
  height: 50px;

  border: none;
  border-radius: 15px;
  box-shadow: inset 0px 4px 8px 1px rgba(0, 0, 0, 0.25);
  background: rgba(230, 88, 95, 0.75);
}
