.main-nav {
  display: none;
}

.main-nav__wrapper {
  margin: 0 30px;
  padding-top: 184px;
  width: @mobile-width;
}

.main-nav__list {
  margin-bottom: 64px;
}

.main-nav__item {
  text-align: center;

  margin-bottom: 70px;
}

.main-nav__text {
  text-align: center;
  .set-font(20px, 400, 24px);
}

.main-nav__btn {
  margin-bottom: 317px;
}
