.page-header {
  display: flex;
  flex-direction: column;

  border-bottom: 1px solid @darkgrey;
}

.page-header__wrapper {
  position: relative;

  margin: 0 auto;
  padding: 0 30px;
  width: @mobile-width;
}

.page-header__logo {
  position: relative;

  margin: 0 auto;
  padding: 15px 15px 0;

  height: 85px;

  @media (min-width: @desktop-width) {
    height: 120px;
  }
}
