.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 111px;
}

.page-header__logo {
  position: relative;

  width: @mobile-width;
  height: 85px;

  margin: 0 30px;
  padding-top: 15px;

  @media (min-width: @desktop-width) {
    height: 120px;
  }
}
