.decision__item {
  border-radius: 25px;
  background-color: rgb(128 128 128 / 50%);
}

.decision__title {
  .set-font(20px, 400, 25px, #fff);

  padding: 0 20px;
}

.decision__text {
  position: relative;

  .set-font(16px, 300, 25px, #fff);

  padding: 20px;

  &::after {
    .line(0);
  }
}
