.decision {
  position: relative;
  border-radius: 25px;
  background-color: rgb(192 192 192 / 22%);
}

.decision__title {
  .set-font(20px, 400, 25px, #fff);

  padding: 20px 20px 0;
}

.decision__text {
  position: relative;

  .set-font(16px, 300, 25px, #fff);

  padding: 20px;

  &::after {
    .line(0);
  }
}
