.definition {
  border-bottom: 1px solid @darkgrey;
}

.definition__wrapper {
  margin: 111px auto 42px;
  width: @mobile-width;
}

.definition__title {
  .set-font(32px, 400, 35px, #fff);

  margin: 0 auto 76px;
}

.definition__intro {
  .set-font(16px, 400, 20px, @lightgrey);
}
