.definition {
  margin: 0 auto;
  border-bottom: 1px solid @darkgrey;
}

.definition__container {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 30px;
  width: @mobile-width;

  &::before {
    position: absolute;
    z-index: -1;
    top: 40px;
    left: 10px;
    width: 728px;
    height: 626px;
    content: "";
    background-image: url("../img/scada-logo.png");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
  }
}

.definition__wrapper {
  position: relative;
  margin: 111px auto 42px;
}

.definition__title {
  .set-font(32px, 400, 35px, #fff);

  margin: 0 auto 76px;
}

.definition__intro {
  .set-font(16px, 400, 20px, @lightgrey);
}
