.description__wrapper {
  margin: 0 auto;
  width: @mobile-width;
}

.description__title {
  .set-font(32px, 400, 35px, #fff);

  margin-bottom: 76px;
}

.description__intro {
  .set-font(16px, 400, 20px, @lightgrey);

  margin-bottom: 74px;
  width: 262px;
}
