.instruments {
  border-bottom: 1px solid @darkgrey;
}

.instruments__wrapper {
  margin: 31px auto 42px;
  width: @mobile-width;
}

.instruments__title {
  .set-font(32px, 400, 35px, #fff);

  margin: 0 auto 31px;
}

.instruments__list > .instruments__item:not(:last-child) {
  margin-bottom: 32px;
}
