.jobs {
  border-bottom: 1px solid @darkgrey;
}

.jobs__wrapper {
  margin: 41px auto 38px;
  padding: 0 30px;

  width: @mobile-width;
}

.jobs__title {
  .set-font(32px, 400, 35px, #fff);

  margin: 0 auto 38px;
}
