.slide {
  overflow: hidden;
  margin: 0 auto;

  user-select: none;
}

.slide__list {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide__item {
  flex: 0 0 100%; /* Каждая фотография занимает 100% ширины */
  display: flex;
  justify-content: center;
  align-items: center;

  width: @mobile-width;

  cursor: pointer;
}

.slide__item img {
  width: 100%;
  height: auto;
  max-height: 100%;

  object-fit: cover;
}

.slide__progress {
  position: relative;

  margin-bottom: 30px;
  height: 54px;

  overflow: hidden;
}

/* Ползунок */
.slide__progress-bar {
  position: absolute;
  bottom: 22%;
  left: 5px;
  right: 5px;
  height: 6px;
  overflow: hidden;
  border-radius: 25px;
  background: rgb(255 255 255 / 50%);
}

.slide__progress-indicator {
  position: absolute;
  bottom: 2%;
  height: 60%;
  background: @btnred;
  border-radius: 25px;
  transition: width 0.5s, transform 0.5s;
}
